{# compact_packages.html #}

	<article>
          <div class="row">
            <div class="col">
              Package
	    </div>
            <div class="col">
              Maintainer 
	    </div>
            <div class="col">
              INSTALL/BUILD/CHECK
	    </div>
	  </div>
          {% for package in packages %} 
          <div class="row">
            <div class="col">
              <a href="{{ package.name }}">{{ package.name }}</a>
              {{ package.version }}
              (<a href="https://bioconductor.org/packages/devel/{{ package.name }}">
                 landing page
               </a>)
	    </div>
            <div class="col">
              {{ package.maintainer }}
	    </div>
            <div class="col">
              {% set node = nodes[0] %}
	      {% set statuses = package.results[node['hostname']].values() %}
	      {{ get_pkg_overall_status(package.name, statuses, skipped_packages) }}
	    </div>
	  </div>
	  {% endfor %}
	</article>
