{% extends "base.html" %}

{% block content %}

      {% include "summary.html" %}

      {% for command in commands %}
      <article class="output">
        <h2>
         {{ command['name'] }} 
        </h2>
        {% if command['compiler'] %}
        <div class="row">
          <div class="col">
           R variable (VAR) 
          </div>
          <div class="col">
           Value ('R CMD config <VAR>' output) 
          </div>
        </div>
        {% for r_var in command['r_vars'] %}
        <div class="row">
          <div class="col">
            {{ r_var }} 
          </div>
          <div class="col">
            {{ command['r_var_val'][r_var] }} 
          </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col">
	    <div>
	     {% if command['compiler'] %}
	     <strong>Compiler version</strong>
	     <span>('{{ command['r_vars'][0] }} --version' output):</span>
	     {% else %}
	     <strong>{{ command['name'] }} version</strong>
	     <span>('{{ command['name'] }} --version' output):</span>
	     {% endif %}
            {{ command['sys_cmd_ver'] }}
	  </div>
        </div>
      </article>
      {% endfor %}

{% endblock content %}
