{# nodes.html #}

      <aside class="nodes">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Hostname</th>
              <th scope="col">OS</th>
              <th scope="col">Arch (*)</th>
              <th scope="col">R version</th>
              <th scope="col">Installed packages</th>
            </tr>
          </thead>
          <tbody>
            {% for node in nodes %}
            <tr>
              <th scope="row">
                <a href="{{ base_url }}{{ node['hostname'] }}-NodeInfo.html">{{ node['hostname'] }}</a>
              </th>
              <td>
                {{ node['os'] }}
              </td>
              <td>
                {{ node['arch'] }}
              </td>
              <td>
                {{ node['r_version'] }}
              </td>
              <td>
                <a href="{{ base_url }}{{ node['hostname'] }}-R-instpkgs.html">
                  {{ node['r_installed_packages'] }}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th scope="row" colspan="5">
                Click on any hostname to see more info about the system (e.g., compilers)
                <br>
                * as reported by uname -p, except on Windows and Mac OS X
             </th>
           </tr>
         </tfoot>
       </table>
      </aside>
