{# nodes.html #}

        <div class="row">
          <div class="col-sm">
            <div class="row row-cols-5">
              <div class="col col-sm-1">
                Hostname
              </div>
              <div class="col col-sm-2">
                OS 
              </div>
              <div class="col col-sm-1">
                Arch (*) 
              </div>
              <div class="col col-sm-3">
                R version 
              </div>
              <div class="col col-sm-2">
                Installed packages
              </div>
            </div>
            <div class="row row-cols-5">
            {% for node in nodes %}
              <div class="col col-sm-1">
                <a href="{{ nodes['url'] }}">{{ nodes['name'] }}</a>
              </div>
              <div class="col col-sm-2">
                {{ nodes['os'] }}
              </div>
              <div class="col col-sm-1">
                {{ nodes['arch'] }}
              </div>
              <div class="col col-sm-3">
                {{ nodes['r_version'] }}
              </div>
              <div class="col col-sm-2">
                <a href="{{ nodes['r_installed_packages_url'] }}">
                  {{ nodes['r_installed_packages_count'] }}
                </a>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <p>
            Click on any hostname to see more info about the system (e.g.,
            compilers)
          </p>
          <p>
            * as reported by <span class="code">uname -p</span>, except on
            Windows and Mac OS X
          </p>
        </div>
