{% extends "base.html" %}

{% block content %}

      {% set packages = [package] %}

      {% include "packages.html" %}

      {% include "summary.html" %}

      <article class="output">
        <h2>
          Command output
        </h2>
        <div class="code">
          <pre>{{ command_output }}</pre>
        </div>
      </article>

      {% if stage == "checksrc" %}

      {% for install_path, install_output in installation_output.items() %}
      <article class="output">
        <h2>
          Installation output
        </h2>
        <div class="output_path">
          {{ install_path }}
        </div>
        <div class="code">
          <pre>{{ install_output }}</pre>
        </div>
      </article>
      {% endfor %}

      {% if tests_output %}
      {% for path, output in tests_output.items() %}
      <article class="output">
        <h2>
          Tests output
        </h2>
        <div class="code output_path">
          {{ path }}
        </div>
        <div class="code">
          <pre>{{ output }}</pre>
        </div>
      </article>
      {% endfor %}
      {% endif %}

      <article class="output">
        <h2>
          Example timings
        </h2>
	{% for path, output in example_timings.items() %}
        <div class="output_path">
          {{ path }}
        </div>
        <div class="code">
          <pre>{{ output }}</pre>
        </div>
	{% endfor %}
      </article>
      {% endif %}

{% endblock content %}
