{# packages.html #}
        PACKAGES.HTML

        {% if package is defined %}
          {% set base_url = "../" %}
        {% else %}
          {% set base_url = "" %}
        {% endif %}

        <main>
          <table class="table">
            <tbody>
              {% for package in packages %}
              <tr>
                <th scope="row" data-search="{{ package.name }}" rowspan="{{ nodes | length }}">
                  {% if package is defined %}
                    {{ package.name }}
                  {% else %}
                    <a href="{{ package.name }}">{{ package.name }}</a>
                  {% endif %}

                  {{ package.version }}
                  <a href="https://bioconductor.org/packages/devel/{{ package.name }}" aria-label="{{ package.name }} landing page" data-toggle="tooltip" data-placement="top" title="{{ package.name }} landing page"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2Zm6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03 9.28 7.78a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l3.75-3.75-1.543-1.543A.25.25 0 0 1 10.604 1Z"></path></svg></a>
                  <br>
                  {{ package.maintainer }}
                  <div class="row">
                    <div class="col">
                      Snapshot Date: {{ package.snapshot }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Git URL: {{ package.git_url }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Git Branch: {{ package.git_branch }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Git Last Commit: {{ package.git_last_commit }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Git Last Commit Date: {{ package.git_last_commit_date }}
                    </div>
                  </div>
                </th>
                <td>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">OS Arch</th>
                        {% for stage in stages %}
                        <th span="col">{{ stage.removesuffix('src') }}</th>
                        {% endfor %}
                        <th span="col">Propagation</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for node in nodes %}
                      <tr>
                        <th scope="row">{{ node['os'] }} {{ node['arch'] }}</th>
                        {% for stage in stages %}
                        <td>
                          {% if stage != 'buildbin' or node['has_buildbin'] %}
                          <a class="btn {{ package.results[node['hostname']][stage.removesuffix('src')] | lower }}"
                            href="{% if package is not defined %}{{ package.name }}/{% endif %}
                            {{ node['hostname'] }}-{{ stage }}.html">
                            {{ package.results[node['hostname']][stage.removesuffix('src')] }}</a>
                          {% endif %}
                        </td>
                        {% endfor %}
                        <td>
                          {% if node['has_buildbin'] %}
                          <span class="btn ">propagation</span>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </main>
