{# quickstats.html #}

      <article id="quickstats">

        <h2>Quick Stats</h2>

	{% for node, stats in quickstats.items() %}
        <div class="row">
          <div class="col">
            Node
          </div>
          <div class="col">
            OS / Arch
          </div>
          {% if "INSTALL" in stages %}
          <div class="col">
            Install
          </div>
          {% endif %}
          {% if "BUILD" in stages %}
          <div class="col">
            Build
          </div>
          {% endif %}
          {% if "CHECKSRC" in stages %}
          <div class="col">
            Check
          </div>
          {% endif %}
          {% if "BUILDBIN" in stages %}
          <div class="col">
            Build Bin
          </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col">
            {{ node.name }}
          </div>
          <div class="col">
            {{ node.os }}
          </div>
          <div class="col">
           {% for stage, (timeout, error, warnings, ok, notneeded) in stats.items() %}
            <div class="col">
              {{ timeout }}
            </div>
            <div class="col">
              {{ error }}
            </div class="col">
	    {% if stage == "checksrc" %}
            <div class="col">
              {{ warning }}
            </div>
	    {% endif %}
            <div class="col">
              {{ ok }}
            </div>
          {% endfor %}
          </div>
        </div>
        {% endfor %}
      </article>
