{% extends "base.html" %}

{% block content %}

      <article class="output">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                Package
              </th>
              <th scope="col">
                LibPath 
              </th>
              <th scope="col">
                Version 
              </th>
              <th scope="col">
                Built 
              </th>
            </tr>
          </thead>
          <tbody>
           {% for package in packages %}
            <tr>
              <td>
                {{ package['Name'] }}
              </td>
              <td>
                {{ package['LibPath']}}
              </td>
              <td>
                {{ package['Version'] }}
              </td>
              <td>
                {{ package['Built'] }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </article>

{% endblock content %}
