{% extends "base.html" %}

{% block content %}

      <article class="output">
	<div class="row">
	  <div class="col">
	    Package
	  </div>
	  <div class="col">
	    LibPath 
	  </div>
	  <div class="col">
	    Version 
	  </div>
	  <div class="col">
	    Built 
	  </div>
	</div>
	{% for package in packages %}
        <div class="row">
          <div class="col">
            {{ package['Name'] }}
          </div>
          <div class="col">
            {{ package['LibPath']}}
          </div>
          <div class="col">
            {{ package['Version'] }}
          </div>
          <div class="col">
            {{ package['Built'] }}
          </div>
        </div>
	{% endfor %}
      </article>

{% endblock content %}
